.main-nav {
    height: 60px;
    border-bottom: 1px solid #DD302D;
    display: flex;
}
.main-nav .all-types {
    width: 200px;
    height: 48px;
    background-color:#DD302D;
    color: white;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav .main-nav-list {
    height: 48px;
    line-height: 48px;
}
.main-nav .main-nav-list li {
   float:left;
   margin: 0 10px;
   font-size: 16px;
}