.main-content {
    margin-top: 10px;
    /* width: 1200px; */
    align-items: flex-start;
    display: flex;
}
.mainmiddel {
    display: flex;
    /* align-items: center; */
}
.container {
    display: flex;
    align-items: flex-start; /* 顶部对齐 */
}

.container .banner {
    flex-grow: 1;
   }
