/* #region主要内容区start */
.main-content {
    margin-top: 10px;
    /* width: 1200px; */
    align-items: flex-start;
    display: flex;
}
.main-c1 {
    display: flex;
}
.container {
    display: flex;
    align-items: flex-start; /* 顶部对齐 */
}
.container .slide-left-nav {
    width: 230px; 
}
.container .banner {
    /* flex-grow: 1; */
    flex:auto;
}
