.header {
    height: 120px;
}
.header .search form {
    margin-top: 42px;
    font-size: 0px;
}
.header .search input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
    border-radius: 0%;
    flex:auto;
}
.header .search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url('../Pictures/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
}