.header {
    height: 120px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    padding: 0 20px;
}

.search-input {
    width: 500px;
    max-width: 100%;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-badge {
    cursor: pointer;
}
