.search-result {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    gap: 1rem;
    background-color:lightskyblue;
}
.search-result .title span{
    font-size: large;
    font-weight: bolder;
    color:black;
}

.search-result:hover {
    background-color: #efefef;
}
