.slide-nav {
    width: auto;
    height: 458px;
    /* background-color: #F4F4F4; */
    background-color: lightcyan;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
        .slide-nav li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: bolder;
            height: 60px;
            width: auto;
            /* width: auto; */
            /* line-height: 28px; */
            /* padding-left: 16px; */
        }
            .slide-nav li:hover {
                background-color: cyan;
            }
            .slide-nav li:hover>a {
                color: black;
                font-weight: bolder;
            }

                    .slide-nav .second-menu {
                        width: 10000px;
                        height: 458px;
                        background-color: white;
                        position: absolute;
                        top: 0;
                        left: 380px;
                        padding-left: 20px;
                        display: none;
                        z-index: 10;
                    }
                    .slide-nav li:hover .second-menu {
                        display: block;
                    }
                    .slide-nav .second-menu dl {
                        display: flex;
                        align-items: center;
                        margin: 0 10px;
                        height: 36px;
                        /* line-height: 36px; */
                        /* margin-bottom: 20px; */
                    }
                    .slide-nav .second-menu dl:first-child {
                        margin-top: 10px;
                    }
                    .slide-nav .second-menu dt {
                        font-weight: bold;
                        /* float: left; */
                        width: auto;
                        margin-right: 10px;
                        /* white-space: nowrap; */
                    }
                    /* .slide-nav .second-menu dd {
                        float: left;
                    } */
                    .slide-nav .second-menu dd a {
                        padding: 0 5px;
                        border-left: 1px solid #666;
                    } 