.container{
    width: 1190px;
    margin: 0 auto;
    height: 30px;
}
.topbar{
    height: 30px;
    background-color: #ececec;
}
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0px;
    color: #666;
}
.welcome span, .welcome a {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 10px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
    }
    .welcome .register {
    padding-left: 10px;
    }
    .topbar-nav .list {
        height: 30px;
        line-height: 30px;
        margin-left: 100px;
    }
    .topbar-nav .list li {
        float: left;
    }
    .topbar-nav .list li a {
        padding: 0 15px;
        border-right: 1px solid #666;
    }
    .topbar-nav .list li:first-child a {
        padding-left: 0px;
    }
    .topbar-nav .list li:last-child a {
        padding-right: 0px;
        border: 0px;
    }